<mat-card routerLink="/students" class="allignCenter mat-elevation-z8">
    <mat-card-header>
      <div mat-card-avatar  class="example-header-image"></div>
      <mat-card-title>Search for students</mat-card-title>
      <mat-card-subtitle>See all students</mat-card-subtitle>
    </mat-card-header>
</mat-card>

<mat-card routerLink="/student/add" class="allignCenter mat-elevation-z8">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Add student</mat-card-title>
      <mat-card-subtitle> Register students </mat-card-subtitle>
    </mat-card-header>
</mat-card>

<mat-card routerLink="/teacher/add" class="allignCenter mat-elevation-z8">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Add teachers</mat-card-title>
      <mat-card-subtitle> Register teachers </mat-card-subtitle>
    </mat-card-header>
</mat-card>

<mat-card routerLink="/course/add" class="allignCenter mat-elevation-z8">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Add course</mat-card-title>
      <mat-card-subtitle> Create course </mat-card-subtitle>
    </mat-card-header>
</mat-card>

<mat-card routerLink="/section/add" class="allignCenter mat-elevation-z8">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Add section</mat-card-title>
      <mat-card-subtitle> Add section </mat-card-subtitle>
    </mat-card-header>
</mat-card>

<mat-card routerLink="/subject/add" class="allignCenter mat-elevation-z8">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Add subject</mat-card-title>
      <mat-card-subtitle> Add subject </mat-card-subtitle>
    </mat-card-header>
</mat-card>